/*
    component: Boxes
-------------------------
*/
.box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
}

.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .box-header {
    position: relative;
    border-bottom: 0px solid #f4f4f4;
    color: #444;
    padding-bottom: 10px;
}
.box .box-header:before,
.box .box-header:after {
    display: table;
    content: " ";
}
.box .box-header:after {
    clear: both;
}
.box .box-header > .fa,
.box .box-header > .glyphicon,
.box .box-header > .ion,
.box .box-header .box-title {
    display: inline-block;
    padding: 10px 0px 10px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    float: left;
    cursor: default;
}
.box .box-header a:not(.btn) {
    color: #444;
}
.box .box-header > .box-tools {
    padding: 5px 10px 5px 5px;
}
.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.box .box-body > table,
.box .box-body > .table {
    margin-bottom: 0;
}
.box .box-body.chart-responsive {
    width: 100%;
    overflow: hidden;
}
.box .box-body > .chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.box .box-body > .chart svg,
.box .box-body > .chart canvas {
    width: 100%!important;
}
.box .box-body .fc {
    margin-top: 5px;
}
.box .box-body .fc-header-title h2 {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
    margin-left: 10px;
}
.box .box-body .fc-header-right {
    padding-right: 10px;
}
.box .box-body .fc-header-left {
    padding-left: 10px;
}
.box .box-body .fc-widget-header {
    background: #fafafa;
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.02);
}
.box .box-body .fc-grid {
    width: 100%;
    border: 0;
}
.box .box-body .fc-widget-header:first-of-type,
.box .box-body .fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}
.box .box-body .fc-widget-header:last-of-type,
.box .box-body .fc-widget-content:last-of-type {
    border-right: 0;
}
.box .box-body .table {
    margin-bottom: 0;
}
.box .box-body .full-width-chart {
    margin: -19px;
}
.box .box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box .box-footer {
    border-top: 1px solid #f4f4f4;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    background-color: #ffffff;
}
.box.box-solid {
    border-top: 0px;
}
.box.box-solid > .box-header {
    padding-bottom: 0px!important;
}
.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid.box-primary > .box-header {
    color: #fff;
    background: #2ba7ff;
    background-color: #2ba7ff;
}
.box.box-solid.box-primary > .box-header a {
    color: #444;
}
.box.box-solid.box-info > .box-header {
    color: #fff;
    background: #2ba7ff;
    background-color: #2ba7ff;
}
.box.box-solid.box-info > .box-header a {
    color: #444;
}
.box.box-solid.box-danger > .box-header {
    color: #fff;
    background: #f55656;
    background-color: #f55656;
}
.box.box-solid.box-danger > .box-header a {
    color: #444;
}
.box.box-solid.box-warning > .box-header {
    color: #fff;
    background: #ff8f33;
    background-color: #ff8f33;
}
.box.box-solid.box-warning > .box-header a {
    color: #444;
}
.box.box-solid.box-success > .box-header {
    color: #fff;
    background: #62c45e;
    background-color: #62c45e;
}
.box.box-solid.box-success > .box-header a {
    color: #444;
}
.box.box-solid > .box-header > .box-tools > .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid.collapsed-box .box-header {
    border-radius: 3px;
}
.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.box .box-group > .box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 13px;
    margin-bottom: 0.3em;
}


/* Widgets style */

.newbox .panel .panel-title.dark{
    background: rgba(231, 235, 238, 0.44);
    background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(246,246,246,1) 47%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=1 );
}

.newbox .panel .panel-title{
    position:relative;
    padding: 15px 20px;
    font-weight:normal;
}

.newbox .panel .panel-title .panel-left-actions{
    position: absolute;
    left: 15px;
    top: 15px;
}

.panel-right-actions {
    display: block;
    float: right;
    width: 40px;
}

.newbox .panel-body {
    overflow-y:auto;
}

.panel-body {
    overflow-y:auto;
}

.panel-body .button-container {
    margin-bottom: 20px;
}

.panel-body-nopadding .panel-body{
    padding:0px;
}

.newbox .panel .panel-footer .right-buttons{
    float:right;
    margin-top:5px;
}

.newbox .panel .panel-footer{
    background: 0;
    width: 100%;
    height:40px;
    padding: 0px 20px;
    border-top: 1px solid rgba(221, 221, 221, 0.36);
}

.newbox .panel .panel-footer .btn{
    padding: 4px 10px;
    height: auto;
}

.newbox .dropdown-menu{
    top: 38px !important;
    left: auto !important;
    right: -15px !important;
    list-style-type: none;
    margin: 0;
    height: auto;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: 400ms;
    z-index: 1;
    padding: 8px 0;
    border: 0;
    position: absolute;
}

.newbox .dropdown-menu > li > a {
    padding: 8px 15px;
}

.newbox .dropdown-toggle{
    cursor:pointer;
}

.emptybox .grid-stack-item-content {
    overflow-y: hidden !important;
}

.panel-right-actions .action-container > .fa {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 16px;
    font-size: 18px;
    color: #3780E6;
}

.action-container {
    text-align: center;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -16px;
    text-transform: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #2ba7ff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.panel-title h6 {
    margin: 0;
}
h6 {
    margin: 0 0 18px 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown-menu > li > a .fa {
    color: #777c8c;
}

.dropdown-menu .fa {
    width: 24px;
    height: 24px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 19px;
    margin-right: 12px;
    transition: .3s;
}

.dropdown-menu > li > a {
    color: #4c4f59;
    font-size: 11px;
    padding: 4px 16px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: normal;
}

.newbox .dropdown-menu > li > a:hover .fa, .newbox .dropdown-menu > li > a:hover {
    color: #2ba7ff;
}