.informationTablesWidth
{
    width: 50%!important;
}

#isoImages_wrapper table tbody tr td {word-break: break-word;}

.testmodal{
    position: fixed;
    z-index:1050;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    opacity: 1;
    display: block;
    outline: 0;
    transition: opacity 0.15s;
    overflow-x: hidden;
    overflow-y: auto;
    width: 600px;
    margin: 30px auto;
}
.password_element input{
    border: none!important;
    width: 120px!important;
    background: white!important;
    margin: 0!important;
    padding: 0!important;

}
.password_element input:focus {
    background-color: white!important;
    border: none!important;
    background: white!important;
    outline: none!important;
}

.overflow{
    word-break: break-word;
    overflow-y: auto!important;
    max-height: 80px!important;
}
.mg-datapicker {
    padding: 6px 12px 6px 12px !important;
    display: flex !important;
    position: relative !important;
    margin: 0 !important;
}
.mg-datapicker:after {
    background-color: #fff !important;
}

.md-input-action {
    top: 6px !important;
}

.mg-copy-component-field {
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
}

.mg-copy-component-span:hover {
    cursor: pointer;
}

#contentarea > div > h1 {
    display: none!important;
}

#layers .lu-app .lu-btn--default,
#layers .lu-app .lu-btn--danger {
    color: #737880;
}

#layers .lu-app .vue-app-main-modal-container .lu-btn--danger:not(.lu-btn--outline) {
    color: #fff;
}

#layers .lu-app .lu-btn--default:hover {
    color: #505459;
}

#layers .vueDatatableTable .mgTableActions label {
    display: block;
    margin-bottom: auto;
    margin-top: auto;    
}

/*FIX PRELOADER IN SUBMIT BUTTON*/
#layers .lu-btn.mg-submit-form .lu-btn__icon.lu-preloader {
    margin: 0 0 0 0;
}

/*fix to long modal*/
#layers .lu-app .lu-modal {
    display:  grid!important;
}

/*fix mobile menu */
#layers .lu-off-canvas-responsive--right:not(.is-open) {
    margin-right: -5000px;
}

/* fix loaders */
#layers .lu-preloader-container--full-screen:not(.widget-only) {
    z-index: 9999;
}
#layers .vueDatatableTable .lu-preloader-container--full-screen {
    z-index: 999;
}
/* end of loaders fix */

/*FIX AA TOP MENU*/
#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown) > .lu-nav__link > .drop-arrow {
    height: 32px;
    width: 32px;
    bottom: -18px;
    right: 50%;
    margin-right: -24px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown) > .lu-nav__link > .drop-arrow:after {
    left: 8px;
    width: 16px;
    height: 16px;
    top: 8px;
    background: #e9ebf0;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.05) inset;
    border-radius: 3px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item:not(.has-dropdown).is-active .drop-arrow {
    display: block;
    z-index: 99;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown > .lu-nav__link > .drop-arrow {
    height: 32px;
    width: 32px;
    bottom: -18px;
    right: 50%;
    margin-right: -24px;
    z-index: 99;
    display: none;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown > .lu-nav__link > .drop-arrow:after {
    left: 8px;
    width: 16px;
    height: 16px;
    top: 8px;
    background: #e9ebf0;
    box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.05) inset;
    border-radius: 3px;
}

#layers .lu-navbar__nav > .lu-nav > .lu-nav__item.has-dropdown.is-active .drop-arrow {
    display: block;
    z-index: 99;
    animation: none;
}


/*FIX AA TOP MENU END*/

/* RED loader for delete buttons */
#layers .lu-btn--danger .lu-preloader:before {
    border-top-color: rgb(244, 62, 62);
}

/* GREEN loader for submit buttons */
#layers .lu-btn--success .lu-preloader:before {
    border-top-color: rgb(98, 202, 95);
}

/* selectize css fixes */
#layers .selectize-control.multi .item {
    padding: 0 8px;
    margin: 0 4px 4px 0;
    background: #e9ebf0;
    line-height: 24px;
}

#layers .selectize-control.multi .item a {
    padding-top: 0px;
    color: #2368AD;
    transition: color 0.3s;
}

#layers .selectize-control.multi.plugin-remove_button .item > a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#layers .selectize-control.multi .item.active {
    color: #333;
}

#layers .selectize-control.multi .selectize-input {
    padding-bottom: 0px;
    padding-left: 4px;
    display: block;
}
/* end of selectize css fixes */

/* Breadcumbrs / styles */
#layers .lu-breadcrumb__item:before {
    padding: 0 2px 0 8px;
}
/* End of breadcumbrs / styles */

/* Form in tab styles */
#layers .mg-form-in-tab .ui-form-submit {
    padding-bottom: 20px;
}

#layers .mg-form-in-tab .mg-tab-form-wrapper {
    padding-left: 8px;
    margin-right: 8px;
}
/* End of Form in tab styles */

/* Modal Background */
#layers .lu-modal.show {
    background-color: rgba(80, 84, 89, 0.5);
}
/* End of Modal Background */

/* Show Allerts on top of new modal background */
#layers-body #toast-container,
#layers #toast-container {
  z-index: 1102;
}
/* End of Show Allerts on top of new modal background */

/* force break lines on lu-list--info */
#layers .lu-list--info .lu-list__value {
    word-break: break-all;
}
/* end of force break lines */

/* Datatable Filters */
#layers .vueDatatableTable .mg-dt-filters-container .mg-filters-wrapper {
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

#layers .vueDatatableTable .mg-dt-filters-container .mg-filter-search-wrapper a {
    float: right;
}

#layers .vueDatatableTable .mg-dt-filters-container .mg-filter-search-wrapper {
    min-height: 36px;
}
/* end of Datatable Filters */

/* Loaders for selectize */
#layers .mg-selectize-loader {
    position: absolute;
    right: 35px;
}
/* End of Loaders for selectize */

/* fix this icon is smaller than others */
.lu-zmdi-assignment-account {
    margin-top: 1px;
}
/* end of fix this icon is smaller than others */

/* Status Widget Styles */
#layers .mg-status-widget {
    margin-top: 10px;
}

#layers .mg-status-widget .lu-widget__body table {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

#layers .mg-status-widget .lu-widget__body table tbody tr:first-of-type td {
    border-top: none;
}

#layers .mg-status-widget .lu-widget__body table tbody tr td:first-of-type {
    width: 30%;
}

#layers .mg-status-widget .mg-status-widget-status-bar .mg-status-title{
    font-size: 16px;
}

#layers .mg-status-widget .mg-status-widget-status-bar {
    padding: 10px;
}

#layers .mg-status-widget .mg-status-widget-label .mg-status-widget-status-bar span{
    font-size: 18px;
}
#layers .mg-status-widget .mg-status-widget-label {
    margin-left: 10px;
}

#layers .mg-status-widget .mg-status-widget-status-bar .mg-status-loader {
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

#layers .mg-status-widget .mg-status-widget-status-bar .mg-status-loader:before {
    width: 13px;
    height: 13px;
}
/* End of Status Widget Styles *

/* Configurable Options Widget Styles */
#layers .mg-configurable-options-widget div.confirm-row {
    padding-top: 25px;
    text-align: center;
}
#layers .mg-configurable-options-widget div.lu-p-r-4x.configOption{
    padding-bottom: 5px;
}
/* End of Configurable Options Widget Styles */

/* Configurable Options */
#layers .mg-configurable-options-panel .config-option {
    border-bottom: 1px solid #edeff2;
    padding: 10px;
    height: auto;
}
#layers .mg-configurable-options-panel .lu-widget__body .lu-widget__content.config-option-box {
    padding: 15px 15px 15px 15px;
}
/* End of Configurable Options */

/*Overwrite WHMCS selectize styles for integration pages */
#layers.layers-integration .selectize-control.single.plugin-remove_button .selectize-input .item {
    padding-right: 0px!important;
}
/* End of overwrite WHMCS selectize styles for integration pages */

/* add multiline for long selectize option values(dropdown)*/
#layers .selectize-control.single .selectize-dropdown.single .option {
    white-space: normal;
}
/* end of add multiline for long selectize option values(dropdown)*/

.lu-tooltip {
    position: relative; /* allows the use of the z-index property */
    display: inline-block;
    z-index: 1025; /* higher value than the other element */
}

.lu-tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #44474c;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    font-size: 11px;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    position: absolute;
    z-index: 1; /* lower value than the tooltip element */
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal; /* allow text to wrap */
    overflow-wrap: break-word; /* allow long words to break */
}

.lu-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.lu-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-field.error {
    border: 2px solid red;
}


@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

progress {
    vertical-align: baseline;
}